@font-face {
    font-family: pressstart2p; src: url('pressstart2p.ttf');
}

html, body {
    height: 100%;
    font-family: pressstart2p;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

body {
    background-image: url(images/rps-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 40px;
    border: 3px solid lightgray;
    flex-direction: column;
    height: 100%;
}

button {
    border: 4px solid orange;
    cursor: pointer;
    background: inherit;
    width: 150px;
    height: 150px;
}

button:hover {
    border: 4px solid orangered;
}

button:active {
    border: 4px solid black;
}

.top-header {
    align-items: flex-start;
    border: 4px solid white;
    font-family: 'Courier New', Courier, monospace;
}

.title-header {
    color: white;
    font-size: 20px;;
}

.game-header-container {
    align-items: center;
    flex-direction: column;
}

.game-header {
    font-size: 50px;
    color: orange;
    text-shadow: 4px 4px 6px black;
}

#play-button {
    color: orange;
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-family: pressstart2p;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
}
#play-button:hover {
    border: none;
    color: orangered;
    text-shadow: 2px 2px 4px black;
}

.game-container {
    padding-top: 70px;
    flex-direction: column;
}

.versus-container {
    justify-content: space-evenly;
    align-items: space-between;
}

.versus {
    color: orange;
    font-size: 100px;
    align-self: center;
    text-shadow: 4px 4px 6px black;
}

#round-player, #round-computer {
    height: 300px;
    width: 300px;
    border: 4px solid orange;
}

.button-container {
    padding-top: 20px;
    justify-content: center;
}

.player, .computer {
    color: orange;
    text-shadow: 4px 4px 6px black;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

.bigImg {
    object-fit: contain;
    width: 100%;
}

.img-button {
    object-fit: contain;
    width: 100%;
}
