html, body {
    height: 100%;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

body {
    background-image: url(images/rps-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 40px;
    border: 3px solid lightgray;
    flex-direction: column;
    height: 90%;
}

button {
    border: 4px dotted grey;
}

button:hover {
    border: 4px solid white;
}

button:active {
    border: 4px solid orange;
}

.top-header {
    align-items: flex-start;
    border: 4px solid white;
}

.title-header {
    color: white;
}

.game-container {
    padding-top: 200px;
    flex-direction: column;
}

.versus-container {
    justify-content: space-evenly;
    align-items: space-between;
}

.versus {
    color: white;
    font-size: 100px;
    align-self: center;
}

.round {
    height: 300px;
    width: 300px;
    border: 4px solid white;
}

.button-container {
    padding-top: 150px;
    justify-content: center;
}

.player {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 40px;
}